body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  background: silver;
}

h1 {
  font-weight: normal;
  font-size: 24px;
  color: #432;
  text-align: center;
  margin-top: 50px;
}

.container {
  width: 330px;
  padding: 20px 30px;
  margin: 20px auto;
  background: gray;
  border-radius: 5px;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.container li {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  margin: 5px;
}

.container div {
  text-align: right;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #432;
  font-size: 18px;
  display: block;
  width: 72px;
  margin: 0 40px 0 auto;
}

a:hover {
  color: #ddd;
  transition: .3s;
}